<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="openpp_message.provider.default" class="Openpp\MessageBundle\Provider\Provider" public="false">
            <argument type="service" id="fos_message.thread_manager" />
            <argument type="service" id="fos_message.message_manager" />
            <argument type="service" id="fos_message.thread_reader" />
            <argument type="service" id="fos_message.authorizer" />
            <argument type="service" id="fos_message.participant_provider" />
            <argument>%openpp.message.config%</argument>
        </service>

        <service id="openpp_message.message_manager.default" class="Openpp\MessageBundle\EntityManager\MessageManager" public="false">
            <argument type="service" id="doctrine.orm.entity_manager" />
            <argument>%fos_message.message_class%</argument>
            <argument>%fos_message.message_meta_class%</argument>
            <call method="setConfig">
                <argument>%openpp.message.config%</argument>
            </call>
        </service>

        <service id="openpp_message.thread_manager.default" class="Openpp\MessageBundle\EntityManager\ThreadManager" public="false">
            <argument type="service" id="doctrine.orm.entity_manager" />
            <argument>%fos_message.thread_class%</argument>
            <argument>%fos_message.thread_meta_class%</argument>
            <argument type="service" id="openpp_message.message_manager.default" />
            <call method="setConfig">
                <argument>%openpp.message.config%</argument>
            </call>
        </service>

    </services>

</container>
